<main class="main-container">
  <section class="users-container">
    <div class="header">
      <h2>User management</h2>
    </div>
    <div class="user-table">
      <table>
        <tr class="table-head">
          <th>#</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
        <tr class="table-info" *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="button edit" (click)="editUser(user)" [routerLink]="['/user', user.id]">Edit user</button>
          </td>
          <td>
            <button class="button remove">Remove user</button>
          </td>
        </tr>
      </table>
    </div>
  </section>
</main>